


.rules_page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 1130px;
    margin: 0 auto;

    .content {
        flex: 1 1 auto;
        display: flex;
        flex-direction: row;

        @media (max-width: 320px) {
            & {
                margin-top: 24px;
            }
        }

        @media (max-width: 768px) {
            & .menu {
                display: none;
            }
        }

        .container {
            display: flex;
            flex-direction: column;
            flex: 0 1 100%;


        }
    }
}

