.wrapper_rules {
    margin-top: 0;

    .title_rules {
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;

        @media (max-width: 768px) {
            & {
                font-weight: 700;
                font-size: 18px;
                line-height: 28px;
            }
        }
    }

    .subtitle_rules {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        margin-top: 32px;
        margin-bottom: 0;
    }

    .paragraph_rules {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin-top: 16px;
        margin-left: 30px;

        @media (max-width: 320px) {
            & {
                font-weight: 400;
                font-size: 15px;
                line-height: 20px;
            }
        }
    }

    .subparagraph_rules {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin-top: 16px;
        margin-left: 60px;
    }

    .sub_rules {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin-top: 16px;
        margin-left: 90px;
    }
}