.form_button {
    width: 100%;
    background: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
    border-radius: 30px;
    height: 52px;
    border: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;

    @media(max-width: 540px) {
      & {
        height: 40px;
      }
    }
  }

  .form_button_disabled {
    width: 100%;
    background: #EBEBEB;
    border-radius: 30px;
    height: 52px;
    border: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;

    @media(max-width: 540px) {
      & {
        height: 40px;
      }
    }
  }