.contract_page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 1130px;
    margin: 0 auto;

    .content {
        flex: 1 1 auto;
        margin-top: 30px;
        display: flex;
        flex-direction: row;

        @media (max-width: 320px) {
            & {
                margin-top: 24px;
            }
        }

        @media (max-width: 768px) {
            & .menu {
                display: none;
            }
        }

        .container {
            display: flex;
            flex-direction: column;
            flex: 0 1 100%;

            .wrapper_contract {
                margin-top: 0;

                .title_contract {
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 40px;

                    @media (max-width: 768px) {
                        & {
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 28px;
                        }
                    }
                }

                .subtitle_contract {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    margin-top: 32px;
                    margin-bottom: 0;
                }

                .paragraph_contract {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    margin-top: 16px;
                    margin-left: 30px;

                    @media (max-width: 320px) {
                        & {
                            font-weight: 400;
                            font-size: 15px;
                            line-height: 20px;
                        }
                    }
                }

                .subparagraph_contract {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    margin-top: 16px;
                    margin-left: 60px;
                }

                .sub_contract {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    margin-top: 16px;
                    margin-left: 90px;
                }
            }
        }
    }
}



%box_burger {
    position: absolute;
    z-index: 10;
    top: 90px;
    background: #F9F9FA;
    width: 502px;
    box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18), 0px 1px 5px rgba(191, 196, 201, 0.24);
    border-radius: 10px;
    padding: 32px 32px 52px 32px;
    transition: left 0.3s ease 0s;
    height: 100%;


}


.burger_menu_active {
    @extend %box_burger;
    left: 10px;
    height: 85%;
    overflow-y: scroll;


    @media (min-width: 769px) {
         & {
             left: -130%;
         }
     }

    @media (max-width: 530px) {
        & {
            position: absolute;
            width: 312px;
            padding: 32px 0px 52px 16px;
            left: 10px;

        }
    }

    @media (max-width: 500px) {
        & {
            top: 76px;
        }
    }
}

.burger_menu {
    left: -130%;


    @media (min-width: 769px) {
        & {
            position: static;
        }
    }

    @media (max-width: 768px) {
        & {
            position: absolute;
        }
    }


    @media (max-width: 530px) {
        & {
            position: absolute;
            width: 312px;
            padding: 32px 0px 52px 16px;
            height: 100%;
        }
    }

    @media (max-width: 500px) {
        & {
            top: 76px;
        }
    }

}
