/* .auth_wrapper {
  background: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
  height: 100vh;
  margin: 0 -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .wrapper_title {
    position: absolute;
    top: 54px;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #ffffff;
    letter-spacing: 0.1px;
  } */

  /* .auth_form {
    width: 528px;
    height: auto;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 48px 56px;
    gap: 32px;
    border-radius: 16px;

    .nav_to_registration {
      position: relative;
      margin-top: -25px;
      color: #727272;
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      text-transform: uppercase;
      margin-bottom: 20px;

      .icon_arrow_nav {
        position: absolute;
        rotate: 180deg;
        color: #727272;
        left: -39px;
        top: 3px;
        cursor: pointer;
      }
    }

    .auth_title {
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      letter-spacing: 0.1px;
    }

    .auth_sub_title {
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.1px;
      color: #363636;
    }

    .input_email_span {
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.2px;
      color: #727272;
      margin-top: -28px;
    }

    .footer_form {
      width: 100%;

      .form_button {
        width: 100%;
        background: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
        border-radius: 30px;
        height: 52px;
        border: 0;
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        color: #ffffff;
        text-transform: uppercase;
        cursor: pointer;
      }
    }

    .footer_link_signin {
      display: flex;
      margin-top: 16px;
      align-items: center;

      .description_link {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.1px;
        color: #727272;
        margin-right: 16px;
      }

      .wrapper_link_to_signin {
        display: flex;
        align-items: center;

        .link_to_signin {
          display: flex;
          font-weight: 600;
          font-size: 12px;
          line-height: 18px;
          letter-spacing: 0.2px;
          color: #363636;
          text-transform: uppercase;
          text-align: center;
          cursor: pointer;
          margin-right: 16px;
        }

        .icon_arrow {
          display: flex;
          cursor: pointer;
        }
      }
    }
  }

  .hide {
    display: none;
  } */
/* } */
