
.auth_form{
  width: 528px;
  height: 492px;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 48px 56px;
  gap: 32px;
  border-radius: 16px;

  @media (max-width: 540px) {
    & {
      width: 288px;
      height: 480px;
      padding: 24px 16px;
    }
  }

  .auth_title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.1px;
  }

.form {
  width: 100%;
  height: 492px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  border-radius: 16px;





  .inputs_wrapper {
    width: 100%;
    flex: 1 1 100%;
    gap: 32px;
    display: flex;
    flex-direction: column;
  }
}

.footer_form {
  width: 100%;

  .form_button {
    width: 100%;
    background: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
    border-radius: 30px;
    height: 52px;
    border: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
  }
}

.footer_link_signin {
  display: flex;
  margin-top: 16px;
  align-items: center;

  @media (max-width: 540px) {
    & {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .description_link {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #727272;
    margin-right: 16px;
  }

  .wrapper_link_to_signin {
    display: flex;
    align-items: center;

    .link_to_signin {
      display: flex;
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.2px;
      color: #363636;
      text-transform: uppercase;
      text-align: center;
      cursor: pointer;
      margin-right: 16px;
    }

    .icon_arrow {
      display: flex;
      cursor: pointer;
    }
  }
}
}
.hide {
  display: none;
}
