.wrapper_error {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 32px;
  background-color: rgba(244, 44, 79, 0.5);
  position: absolute;
  width: 100%;
  /* height: 80px; */
  height: auto;
  top: 64px;
  background: #feebea;
  border: 1.5px solid #f42c4f;
  border-radius: 5px;
  z-index: 15;


  .block_error{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .message_error {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;

        .icon_error{
            margin-right: 24px;
        }
      }

      .close_error{
        cursor: pointer;
        transition: all 0.3s ease-in;

        &:hover{
            transform: scale(1.2);
        }
      }
  }

}
.hide{
  display: none;
}