.wrapper {
    padding: 32px 0;
    display: flex;
    align-items: center;

    .logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        margin-right: 130px;

        @media (max-width: 768px) {
            & {
                display: none;
            }
        }

        .logo_img {
            width: 40px;
            height: 40px;
        }

        & span {
            margin-left: 8px;
            font-size: 18px;
            font-weight: 600;
        }



    }

    .title_block {
        flex: 1 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 768px) {
            & {
                justify-content: start;
            }
        }

        .title_text {
            font-size: 32px;
            font-weight: 700;

            @media (max-width: 500px) {
                & {
                    font-size: 18px;
                }
            }



        }

        .title_user {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;

            @media (max-width: 768px) {
                & {
                    display: none;
                }
            }

            .user_name {
                font-size: 18px;
                font-weight: 600;
                margin-right: 16px;
            }

            .user_avatar {
                height: 58px;
                width: 58px;
                cursor: pointer;
            }

        }
    }





    .icon_burger {
        display: none;
        z-index: 5;
        margin-right: 24px;
        width: 32px;
        height: 18px;
        cursor: pointer;



        @media (max-width: 768px) {
            & {
                position: relative;
                display: block;
            }

            & span,
            &::before,
            &::after {
                position: absolute;
                left: 0;
                height: 10%;
                width: 100%;
                transition: all 0.3s ease 0s;
                background: black;
            }

            &::before,
            &::after {
                content: "";
            }

            &::before {
                top: 0;
            }

            &::after {
                bottom: 0;
            }

            & span {
                top: 50%;
                transform: scale(1) translate(0px, -50%);
            }

        }

        @media (max-width: 500px) {
            & {
                width: 24px;
                height: 16px;
            }
        }
    }


    .icon_burger_active {

        & span {
            transform: scale(0) translate(0px, -50%);
        }

        &::before {
            top: 50%;
            transform: rotate(-45deg) translate(0px, -50%);
            background: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
        }

        &::after {
            top: 50%;
            transform: rotate(45deg) translate(0px, -50%);
            background: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
        }


    }



    %box_burger {
        position: absolute;
        z-index: 10;
        top: 90px;
        background: #F9F9FA;
        width: 502px;
        box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18), 0px 1px 5px rgba(191, 196, 201, 0.24);
        border-radius: 10px;
        padding: 32px 32px 52px 32px;
        transition: left 0.3s ease 0s;
        height: 100%;


    }


    .burger_menu_active {
        @extend %box_burger;
        left: 10px;
        height: 85%;
        overflow-y: scroll;


        @media (min-width: 769px) {
            & {
                display: none;
            }
        }

        @media (max-width: 530px) {
            & {
                position: absolute;
                width: 312px;
                padding: 32px 0px 52px 16px;
                left: 10px;

            }
        }

        @media (max-width: 500px) {
            & {
                top: 76px;
            }
        }
    }

    .burger_menu {
        @extend %box_burger;
        left: -130%;


        @media (max-width: 530px) {
            & {
                position: absolute;
                width: 312px;
                padding: 32px 0px 52px 16px;
                height: 100%;
            }
        }

        @media (max-width: 500px) {
            & {
                top: 76px;
            }
        }

    }



}
