.bottom_input_wrapper {
    width: 100%;
    position: relative;

    .bottom_input {
      position: relative;
      width: 100%;
      height: 56px;
      background: #f9f9fa;
      border: 0;
      border-radius: 4px;
      padding: 18px 12px;

      &:focus {
        outline-color: #f9f9fa;
      }
    }

    .bottom_label {
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      position: absolute;
      top: 26%;
      transition: top 0.5s;
      left: 12px;
      color: #363636;
    }

    .bottom_input:focus + label {
      top: 0;
      font-size: 12px;
      color: #a7a7a7;
    }

    .bottom_label_value {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      position: absolute;
      top: 0;
      transition: top 0.5s;
      left: 12px;
      color: #a7a7a7;
    }

    .bottom_input_span {
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      color: #a7a7a7;
      letter-spacing: 0.2px;
      padding-left: 12px;
    }

    .bottom_input_span_error {
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      color: red;
      letter-spacing: 0.2px;
      padding-left: 12px;
    }

    .icon_eye {
      position: absolute;
      top: 16px;
      right: 20px;
      cursor: pointer;
    }
  }