.wrapper_modal_help_logout {
  position: absolute;
  top: 50px;
  right: 10px;
  background-color: #ffffff;
  width: 270px;
  height: 152px;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(54, 54, 54, 0.05), -4px 4px 4px rgba(54, 54, 54, 0.05);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-right: 24px;
    height: 100%;

    li {
      cursor: pointer;
      font-weight: 700;
      font-size: 18px;
      line-height: 28px;

      &:hover{
        color: #F83600;
      }
    }
  }
}
